body {
    margin: 0;
}

.header {
    background-color: gray;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}


h3 {
    font-size: 2rem;
    margin: 0;
    margin-left: 2rem;
}